<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConDep.Dsl" version="5.0.0-beta6" targetFramework="net40" allowedVersions="[4,5)" />
  <package id="ConDep.Dsl.Remote.Helpers" version="3.1.0" targetFramework="net40" allowedVersions="[3.1,4)" />
  <package id="ConDep.Execution" version="5.0.0-beta2" targetFramework="net40" />
  <package id="ConDep.Node" version="4.0.0" targetFramework="net40" allowedVersions="[4,5)" />
  <package id="ConDep.WebQ.Client" version="2.0.0" allowedVersions="[2,3)" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.6" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Mono.Options" version="1.1" targetFramework="net40" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net40" />
  <package id="SlowCheetah.Tasks.Unofficial" version="1.0.0" targetFramework="net40" />
  <package id="YamlDotNet" version="3.7.0" targetFramework="net40" />
</packages>