<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConDep.Dsl" version="5.0.5-beta00063" targetFramework="net45" />
  <package id="ConDep.Dsl.Remote.Helpers" version="5.0.2" targetFramework="net45" />
  <package id="ConDep.Execution" version="5.0.3-beta00043" targetFramework="net45" />
  <package id="ConDep.Node" version="5.0.3-beta00029" targetFramework="net45" />
  <package id="ConDep.WebQ.Client" version="5.0.1" targetFramework="net45" />
  <package id="DotNetZip" version="1.11.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net4" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SlowCheetah.Tasks.Unofficial" version="1.0.0" targetFramework="net4" />
  <package id="WindowsAzure.ServiceBus" version="2.7.6" targetFramework="net4" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net45" />
</packages>